<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Claim Estimator</title>
</head>
<body>
    <div class="login">
        <h1>Medical Claim Predictor</h1>

        <form id="predictionForm" action="{{url_for('predict_datapoint')}}" method="post">
            <fieldset>
                <legend>Medical Claim Amount Predictor</legend>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="mb-3">
                <label class="form-label">Private Attorney</label>
                <select class="form-control" id="PrivateAttorney" name="Private_Attorney" required>
                    <option class="placeholder" selected disabled value="">Select Private Attorney Value</option>
                    <option value="0">
                        No Private Attorney
                    </option>
                    <option value="1">
                        Private Attorney
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Marital Status</label>
                <select class="form-control" name="Marital_Status" required>
                    <option class="placeholder" selected disabled value="">Select Marital Status Value</option>
                    <option value="0">
                        Divorced
                    </option>
                    <option value="1">
                        Single
                    </option>
                    <option value="2">
                        Married
                    </option>
                    <option value="3">
                        Widowed
                    </option>
                    <option value="4">
                        Unknown
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Specialty</label>
                <select class="form-control" name="Specialty" required>
                    <option class="placeholder" selected disabled value="">Select Specialty Value</option>
                    <option value="Family Practice">
                        Family Practice
                    </option>
                    <option value="OBGYN">
                        OBGYN
                    </option>
                    <option value="Cardiology">
                        Cardiology
                    </option>
                    <option value="Pediatrics">
                        Pediatrics
                    </option>
                    <option value="Internal Medicine">
                        Internal Medicine
                    </option>
                    <option value="Anesthesiology">
                        Anesthesiology
                    </option>
                    <option value="Emergency Medicine">
                        Emergency Medicine
                    </option>
                    <option value="Ophthamology">
                        Ophthamology
                    </option>
                    <option value="Urological Surgery">
                        Urological Surgery
                    </option>
                    <option value="Orthopedic Surgery">
                        Orthopedic Surgery
                    </option>
                    <option value="Neurology/Neurosurgery">
                        Neurology/Neurosurgery
                    </option>
                    <option value="Occupational Medicine">
                        Occupational Medicine
                    </option>
                    <option value="Resident">
                        Resident
                    </option>
                    <option value="Thoracic Surgery">
                        Thoracic Surgery
                    </option>
                    <option value="General Surgery">
                        General Surgery
                    </option>
                    <option value="Radiology">
                        Radiology
                    </option>
                    <option value="Pathology">
                        Pathology
                    </option>
                    <option value="Physical Medicine">
                        Physical Medicine
                    </option>
                    <option value="Plastic Surgeon">
                        Plastic Surgeon
                    </option>  
                    <option value="Dermatology">
                        Dermatology
                    </option>                  
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Insurance</label>
                <select class="form-control" name="Insurance" required>
                    <option class="placeholder" selected disabled value="">Select Insurance Value</option>
                    <option value="Private">
                        Private
                    </option>
                    <option value="No Insurance">
                        No Insurance
                    </option>
                    <option value="Unknown">
                        Unknown
                    </option>
                    <option value="Medicare/Medicaid">
                        Medicare/Medicaid
                    </option>                                                                          
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-control" name="Gender" required>
                    <option class="placeholder" selected disabled value="">Select Gender Value</option>
                    <option value="Female">
                        Female
                    </option>
                    <option value="Male">
                        Male
                    </option>                                                                                              
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Age Group</label>
                <select class="form-control" name="Age_Group" required>
                    <option class="placeholder" selected disabled value="">Select Age Group</option>
                    <option value="0-20">
                        0-20
                    </option>
                    <option value="21-40">
                        21-40
                    </option>
                    <option value="41-60">
                        41-60
                    </option>
                    <option value="61-80">
                        61-80
                    </option>
                    <option value="80+">
                        80+
                    </option>
                </select>
            </div>             
            <div class="mb-3">
                <label class="form-label">Severity Score out of 10</label>
                <input class="form-control" type="number" id="Severity" name="Severity"
                    min='1' max='10' required />
            </div>  
            
            <div class="mb-3">
                <label class="form-label">Attorney Severity</label>
                <input class="form-control" type="number" id="AttorneySeverity" name="Attorney_Severity" 
                       readonly />
            </div>

            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Predicted Medical Claim Amount" />
            </div>
        </form>

        <script>
            document.addEventListener('input', function () {
                const privateAttorney = document.getElementById('PrivateAttorney').value;
                const severity = document.getElementById('Severity').value;
        
                // Calculate Attorney Severity if both fields have valid inputs
                if (!isNaN(privateAttorney) && !isNaN(severity) && privateAttorney !== "" && severity !== "") {
                    const attorneySeverity = parseInt(privateAttorney) * parseInt(severity);
                    document.getElementById('AttorneySeverity').value = attorneySeverity;
                } else {
                    document.getElementById('AttorneySeverity').value = "";
                }
            });
        </script>
        <h2>
            {% if results %}
                The prediction is {{ results }}
            {% else %}
                No prediction available yet.
            {% endif %}
        </h2>
    </div>
</body>
</html>